.experiencia{
    background: #2A0000;
    max-height: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
}
.experiencia-container{
    display: grid; 
    grid-template-columns: auto 1fr;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 0px 40px;
   
}
.experiencia-div{
    grid-row: 1;
    display: grid;
    gap: 40px 0px;
    }
.experiencia-texto{
    color: #FFE5DF;
    font-family: 'SairaSemiCondesed';
    font-weight: bold;
    font-size: 1.7rem;
    margin: 40px 0px;
    padding: 40px;
    background: url("../img-pro/detalhe.svg") no-repeat;
    background-position:initial;

}

.subtitulo{  
    color: #ffe5df96;
    text-transform:uppercase;
    font-size: 4rem;
    text-align: center;
    max-width: 2ch;
    word-break: break-all;
    
    font-family: 'Fira Code Bold';

}

strong{
    color: #CB1E1E;
}
.empresa{
   background: #FFE5DF;
   border-radius: 4px;
   display: grid;
   padding: 40px;
   grid-template-columns: 1fr 1fr;
   margin-left: 40px;

}

.empresa-titulo{
    font-family: 'SairaSemiCondesed';
    font-weight: bold;
    font-size: 2.25rem;
    margin-bottom: 10px;
    margin-top: 0px;
}
.empresa-texto{
    font-size: 1.5rem;
    font-weight: lighter;
    color: #2A0000;
}
.empresa-habilidades{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    

}
.empresa-habilidades li{
    color: #FFE5DF;
    background: #D8271B;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 4px;
   
}

    @media ((min-width:300px) and (max-width:736px)){
        .experiencia-container{
            grid-template-columns: 1fr;
            gap: 0px;

        }
        .experiencia-div{
            grid-row: none;
          
        }
        .subtitulo{
            max-width: 100%;
            font-size: 2rem;
        }
        .empresa{
           margin-left: 0px;
           display: grid;
           grid-template-columns: 1fr;

        }
        .empresa-texto{
            font-size: 1rem;
        }
        .empresa-titulo{
            font-size: 1.7rem;
        }

}

